.submit{
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.submit:hover {
  background-color: #e086e0;
  box-shadow: #1c052c 0 -6px 8px inset;
  transform: scale(1.125);
}

.submit:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .submit {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

.nameInput{
    width: 20%;
    padding: 1rem;
    border-radius: 40em;

}
.nameInput[type=text]:focus {
        border: 8px solid #b2f0f5;
}

